{{ define "main" -}}
<div class="post">

    {{ $section := .CurrentSection }}
    {{ with $section }}
    <nav aria-label="breadcrumb" class="breadcrumb">
        <ol>
            {{ range .Ancestors.Reverse }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            {{ end }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            <li class="active">
                <a aria-current="page" href="{{ $.Permalink }}">{{ $.Page.Title }}</a>
            </li>
        </ol>
    </nav>
    {{ end }}
    <div class="info">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
        {{ if .Params.tags }}
        <ul class="tags">
            {{ range .Params.tags }}
            <li class="tag-{{ . }}">
                <a href="{{ " tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}

        {{ $Site := .Site }}
        {{ if .Params.series }}
        <p class="seriesname">
            Series: <a href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
        </p>
        {{ end }}

        {{ if .Params.featuredImage }}
        <p>
            <img src="{{.Params.featuredImage}}"><br>
        </p>
        {{ end }}
    </div>

    {{ .Content }}
    {{ partial "post/post-post.html" . }}
    {{ if (.Site.Params.listmonk) }}
    {{ partial "post/listmonk_email_newsletters.html" . }}
    {{ end }}
    {{ if or (.Site.Params.remark42) (.Site.Config.Services.Disqus.Shortname) }}
    {{ partial "post/comments.html" . }}
    {{ end }}
</div>
{{- end }}
{{ define "sidebar" }}
{{ if and (not .Params.hideToc) (not .Site.Params.hideToc) }}
{{ partial "table_of_contents.html" . }}
{{ end }}
{{ end }}
