<script>
    window.store = {
        {{ $pageCount := 0 }}
        {{ $contentTypes := slice "posts" "til" "garden" "logs" "projects" }}
        {{ range where .Site.Pages "Type" "in" $contentTypes }}
            {{ $pageCount = add $pageCount 1 }}
            "{{ .Permalink }}": {
                "title": "[{{ .Type }}] {{ .Title }}",
                {{ if .Date }}"date": "{{ .Date.Format "2006-01-02" }}",{{ end }}
                "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
                "content": {{ .Content | plainify }},
                "url": "{{ .Permalink }}"
            },
        {{ end }}
        "_debug": {
            "pageCount": {{ $pageCount }}
        }
    }
</script>
